@font-face {
    font-family: "team-fortress";
    src: url("./assets/tf2build.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* div {
    border: 1px solid red;
} */

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.dark-bg {
    background-color: #1f2937;
}

.light-bg {
    background-color: #f9faf8;
}

.main-light-text {
    color:#f9faf8;
}

.black-text {
    color: #1f2937;
}

.main-text {
    color: #f9faf8;
    font-size: 48px;
}

.secondary-text {
    color: #f9faf8;
    font-size: 18px;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#f9faf8;
    padding: 25px;
}

ul {
    color:#f9faf8;
    list-style: none;
    display: flex;
    gap: 50px;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.hero-preview {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 80px;
}

.hero-preview img {
    border: 1px solid blue;
    background-color: gray;
    border-radius: 5px;
    flex-basis: 600px;
}

.hero-description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-basis: 800px;
    justify-content: space-evenly;
}

.hero-description button{
    padding: 10px 20px;
    font-size: 18px;
    color: #f9faf8;
    border: none;
    border-radius: 5px;
    background-color: #3882f6;
    transition: 0.3s;
}

.hero-description button:hover {
    background-color: #3881f69f;
    cursor: pointer;
}

.hero-select {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.hero-select h2 {
    padding-top: 10px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    flex-wrap: wrap;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    gap: 20px;
    padding: 10px;
    transition: 0.3s;
    border-radius: 5px;
}

.hero:hover {
    box-shadow: 0 0 4px #1f2937;
    cursor: pointer;
}

.hero img {
    border: 3px solid #3882f6;
    background-color: gray;
    border-radius: 5px;
}

.footer {
    font-family: 'team-fortress';
    color: #e5e7eb;
    text-align: center;
    padding: 30px;
}